<div class="container p-3 bg-secondary bg-opacity-10 text-white col-11 mt-3 ">
  <h1 class="text-center">
    BERITA SANS
  </h1>
</div>
<div class="container bg-danger mb-2 col-11">
  <ul class="nav justify-content-center row p-2">
    <li class="nav-item rounded bg-secondary m-1 col-sm-3 col-10">
      <a class="nav-link text-white text-center text-wrap font-weight-bold" href="#"
      routerLink="/news">NEWS</a>
    </li>

    <li class="nav-item rounded bg-secondary m-1 col-sm-3 col-10">
      <a class="nav-link text-white text-center text-wrap font-weight-bold" href="#"
      routerLink="/aboutus">ABOUT US</a>
    </li>

    <li class="nav-item rounded bg-secondary m-1 col-sm-3 col-10">
      <a class="nav-link text-white text-center text-wrap font-weight-bold" href="#"
      routerLink="/login">BLOGS</a>
    </li>

  </ul>
</div>
<router-outlet></router-outlet>
